{% extends "layout.html" %} {% block body %} {{ super() }}
<section id="services" class="page-section colord">
<!-- <section id="aboutUs"> -->
    <div class="container">
            <div class="six columns right">
                <h2>About Us</h2>
                <p> We are a web service for tracking, displaying, evaluating, <br>
                    and archiving the Corona infections in a particular location. </p>
                <p>This web app was created as a project of Software Engineering Module of Jacobs University Bremen.
                    This website in general can be considered as Covid Management System. This Project was created on sprint basis.</p>
                    <p>Copyright © JUB 2022</p>
            </div>
            <div class="six columns feature-media left"> <img src="static/img/public.png" alt=""> </div>
    </div>
</section> {% endblock %}