{% extends "layout.html" %} {% block body %} {{ super() }}
<section id="contactUs">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
        
            <h2 class="heading-section">Contact Us</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Write your suggestions/questions/thoughts </h3>
                      
                            <form name="sentMessage" id="contactUS" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="name">Full Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6"> 
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="subject">Subject</label>
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Message</label>
                                            <textarea name="message" class="form-control" id="message" name="message" cols="30" rows="4" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
                    <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                        <div class="info-wrap bg-secondary bg-gradient w-100 p-md-5 p-4">
                            <h3>Let's get in touch</h3>
                            <br>
                            <br>
                            <p class="mb-4">Reach out to us for any questions regarding Covid-19</p>
                    <div class="dbox w-100 d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="text pl-3">
                        <p><span>Address:</span> Some sort of street name , Bremen, Germany - 28759 </p>
                      </div>
                  </div>
                    <div class="dbox w-100 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="text pl-3">
                        <p><span>Phone:</span> <a href="tel://1234567920">+49 176 70804011</a></p>
                      </div>
                  </div>
                    <div class="dbox w-100 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="text pl-3">
                        <p><span>Email:</span> <a href="mailto:info@email.com">corona_archive@email.com</a></p>
                      </div>
                  </div>
                    <div class="dbox w-100 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="text pl-3">
                        <p><span>Website</span> <a href="{{url_for( 'root') }}">Corona Archive.com</a></p>
                      </div>
                  </div>
              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</section> {% endblock %}